table, tr, td {border-collapse: collapse !important;}
tr { font-size:0px !important; line-height:0px !important; border-collapse: collapse !important; }

.lotto-header {
  padding-top: 50px !important;
}

.lotto-main-container {
  margin-bottom: 10px;
}

.lotto-top-context {
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  h1, h4, h3 {
    color: white;
    margin-bottom: 0;
  }
  h1 {
    font-size: 30px;
    @media (min-width: 640px) {
      font-size: 56px !important;
    }
  }
  h4 {
    font-weight: 100;
    font-size: 24px;
    @media (min-width: 640px) {
      font-size: 24px !important;
    }
  }
  h3 {
    font-size: 14px;
    margin-top: 32px;
    @media (min-width: 640px) {
      margin-top: initial !important;
    }
  }
}

.background-img {
  background-repeat: no-repeat !important;
  background-position: 50% 0 !important;
  overflow: hidden !important;
}

.lotto-border-left-right {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  //box-shadow: 0px 1px 1px 0px #bbb;
}

.lotto-countdown {
  background: none;

  h2 {
    font-size: 48px;
    color: black;
    line-height: 35px;
  }

  p {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }
}

.lotto-spacing-between {
  h2 {
    padding: 0 10px;
    @media (min-width: 640px) {
      padding: 0 18px !important;
    }
  }
}

.lotto-second-middle-row {
  p {
    margin: 0 !important;
  }
  .lotto-cutoff {
    font-size: 14px;
    color: #777777;
    span {
      color: #333333;
      font-weight: bold;
    }
  }
  .lotto-questions-concerns {
    color: #777777;
    font-size: 14px;
    a {
      color: #2796fd;
    }
  }
  .lotto-goodluck {
    color: #333333;
    font-weight: bold;
    font-size: 14px;
  }
  .lotto-sincerely {
    font-size: 14px;
    color: #777777;
  }
  .lotto-footer-tickets {
    border-bottom: 1px solid #bbb;
  }
  & .columns {
    padding-bottom: 0 !important;
  }
  .lotto-order-button {
    margin: 0;
    font-weight: normal !important;
  }
  center {
    width: initial;
  }
}

.lotto-footer-description {
  color: #777777;
  font-size: 12px;
  a {
    color: #2796fd;
  }
}

.lotto-footer {
  .lotto-footer-links {
    a {
      color: #2796fd;
      font-size: 14px;
    }
  }
  .lotto-footer-copyright {
    font-weight: bold;
    color: #4a4a4a;
    font-size: 12px;
  }
}

/* Common Emails */
.email-change-update,
.billing-alert,
.membership-upgrade,
.membership-cancel,
.registration,
.declined-transaction {
  .lotto-second-middle-row {
    h1 {
      padding-top: 23px;
      color: black;
      font-size: 25px;
      margin: 0 !important;
      @media (min-width: 640px) {
        font-size: 32px !important;
      }
    }
    .lotto-confirmation-msg {
      color: #74ce00;
      font-weight: bold;
      font-size: 16px;
      padding-top: 25px;
    }
    .lotto-email-info {
      font-size: 14px;
      color: #777777;
      span {
        font-weight: bold;
        color: #003333;
      }
    }
    p {
      font-size: 14px;
      color: #777777;
    }
    .emails {
      padding-top: 10px;
    }
    .icon {
      padding-top: 28px;
    }
    .last-line {
      td {
        border-bottom: 1px solid #bbb !important;
      }
    }
  }
}

/* registration */
.registration,
.declined-transaction {
  .lotto-important-bg-wide {
    background: #eff8ff;
    padding: 21px;

    h2 {
      font-size: 24px;
      color: #333333;
    }
    p {
      font-size: 14px;
    }
    a {
      color: #269eff;
      text-decoration: underline;
    }
  }
  .lotto-getting-started {
    h5 {
      color: #269eff;
      font-weight: bold;
      font-size: 16px;
    }
    p {
      color: #777777;
      font-size: 13px;
    }
    .left-icon {
      padding: 10px;
    }
    .middle-borders {
      border: 1px solid #bbb;
    }
    .right-icon {

    }
  }
}

.lotto-important-bg {
  background: #eff8ff;
  padding: 21px;
  width: 90%;
  @media (min-width: 640px) {
    width: 85% !important;
  }
  span {
    font-weight: bold;
  }
}

.lotto-action-link {
  a {
    font-size: 14px;
    text-decoration: underline;
    color: #2796fd;
    font-weight: bold;
  }
}

.lotto-body-spacing {
  padding-left: 25px !important;
  padding-right: 25px !important;
  @media only screen and (max-width: 640px) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.lotto-hello {
  p {
    padding-top: 25px;
    padding-left: 35px;
    color: white;
    font-size: 15px;
  }
}

.middle-button {
  background: #fff !important;
}

.membership-upgrade,
.membership-cancel,
.declined-transaction {
  .icon {
    padding-top: 17px;
  }
  .lotto-statement {
    .date,
    .paid-with {
      padding-left: 25px;
      @media only screen and (max-width: 640px) {
        padding-left: 15px !important;
      }
    }

    .invoice,
    .total,
    .total-info {
      padding-right: 23px;
      @media only screen and (max-width: 640px) {
        padding-right: 13px !important;
      }
    }

    .description,
    .purchased-item {
      padding-left: 5px;
      @media only screen and (max-width: 640px) {
        padding-left: 15px !important;
      }
    }

    .amount,
    .price {
      padding-right: 5px;
      @media only screen and (max-width: 640px) {
        padding-right: 15px !important;
      }
    }

    .date,
    .invoice {
      color: #333333;
      font-size: 14px;
    }

    .description,
    .amount {
      font-size: 12px;
      color: #777777;
      font-weight: bold;
    }

    .purchased-item {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }

    .price {
      font-size: 14px;
      color: #333333;
    }

    .cancelled {
      color: #f56759;
    }

    .description-info,
    .purchase-info {
      border-top: 2px solid #e4e4e4;
      margin: 15px auto;
      @media (min-width: 640px) {
        width: 530px !important;
      }
    }

    .total-info {
      .paid-with {
        font-weight: bold;
        font-size: 12px;
        color: #777777;
        span {
          margin-top: 6px;
          font-size: 14px;
          display: inline-block;
          padding-bottom: 5px;
          color: #333333;
          vertical-align: bottom;
        }
        img {
          margin-top: 8px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .total {
        font-size: 16px;
        color: #333333;
        font-weight: bold;
        padding-top: 7px;
      }
    }
  }
}

.declined-transaction {
  .total-info {
    border-top: 2px solid #e4e4e4;
    margin: 15px auto;
    .paid-with {
      margin: 0;
      padding-left: 5px !important;
    }
    .total {
      padding-right: 5px !important;
    }
    @media (min-width: 640px) {
      width: 530px !important;
    }
  }
}

.lotto-mid-bottom {
  border-radius: 3px;
  background: #fff !important;
  //box-shadow: 0px 1px 1px 0px #bbb;
}

/* overwrites */
* {
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
p {
  line-height: 24px !important;
}

table.button {
  margin: 0 !important;
  background: #fff !important;
}
table.button.success table td {
  background: #81c935 !important;
  border: none !important;
}

table.body {
  background: #fff;
  margin: 65px auto !important;
}

@media only screen and (max-width: 640px) {
  table.body .container {
    width: 100% !important;
  }
}

table {border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; table-layout: fixed;}
table table { table-layout: auto; }
