//table, tr, td {border-collapse: collapse !important;}
//tr { font-size:0px !important; line-height:0px !important; border-collapse: collapse !important; }

.lotto-header {
  padding-top: 50px !important;
}

.lotto-main-container {
  margin-bottom: 10px;
}

.lotto-top-context {
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  h1, h4, h3 {
    color: white;
  }
  h1 {
    font-size: 30px;
    @media (min-width: 550px) {
      font-size: 56px !important;
    }
  }
  h4 {
    font-weight: 100;
    font-size: 24px;
    @media (min-width: 440px) {
      font-size: 24px !important;
    }
  }
  h3 {
    font-size: 14px;
    margin-top: 32px;
    @media (min-width: 550px) {
      margin-top: initial !important;
    }
  }
}

.background-img {
  background-repeat: no-repeat !important;
  background-position: 50% 0 !important;
  overflow: hidden !important;
}

.lotto-border-left-right {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

.lotto-countdown {
  background: none;

  h2 {
    font-size: 48px;
    color: black;
    line-height: 35px;
  }

  p {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }
}

.lotto-spacing-between {
  h2 {
    padding: 0 10px;
    @media (min-width: 550px) {
      padding: 0 18px !important;
    }
  }
}

.lotto-second-middle-row {
  p {
    margin: 0 !important;
  }
  .lotto-cutoff {
    font-size: 14px;
    color: #777777;
    span {
      color: #333333;
      font-weight: bold;
    }
  }
  .lotto-questions-concerns {
    color: #777777;
    font-size: 14px;
    a {
      color: #2796fd;
    }
  }
  .lotto-goodluck {
    color: #333333;
    font-weight: bold;
    font-size: 14px;
  }
  .lotto-sincerely {
    font-size: 14px;
    color: #777777;
  }
  .lotto-footer-tickets {
    border-bottom: 1px solid #bbb;
  }
  & .columns {
    padding-bottom: 0 !important;
  }
  .lotto-order-button {
    margin: 0;
  }
  center {
    width: initial;
  }
}

.lotto-footer-description {
  color: #777777;
  font-size: 12px;
  a {
    color: #2796fd;
  }
}

.lotto-footer {
  margin-top: 30px !important;

  .lotto-footer-links {
    a {
      color: #2796fd;
      font-size: 14px;
    }
  }
  .lotto-footer-copyright {
    font-weight: bold;
    color: #4a4a4a;
    font-size: 12px;
  }
}

/* email change update */
.email-change-update,
.billing-alert {
  .lotto-second-middle-row {
    h1 {
      padding-top: 23px;
      color: black;
      font-size: 25px;
      margin: 0 !important;
      @media (min-width: 550px) {
        font-size: 32px !important;
      }
    }
    .lotto-confirmation-msg {
      color: #74ce00;
      font-weight: bold;
      font-size: 16px;
      padding-top: 25px;
    }
    .lotto-email-info {
      font-size: 14px;
      color: #777777;
      span {
        font-weight: bold;
        color: #003333;
      }
    }
    p {
      font-size: 14px;
      color: #777777;
    }
    .emails {
      padding-top: 10px;
    }
    .icon {
      padding-top: 28px;
    }
    .last-line {
      td {
        border-bottom: 1px solid #bbb !important;
      }
    }
  }
}

.lotto-important-bg {
  background: #eff8ff;
  padding: 21px;
  width: 90%;
  @media (min-width: 550px) {
    width: 85% !important;
  }
  span {
    font-weight: bold;
  }
}

.lotto-action-link {
  a {
    font-size: 14px;
    text-decoration: underline;
    color: #2796fd;
    font-weight: bold;
  }
}

.lotto-body-spacing {
  padding-left: 25px;
  padding-right: 25px;
  @media only screen and (max-width: 550px) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.lotto-hello {
  p {
    padding-top: 25px;
    padding-left: 35px;
    color: white;
    font-size: 15px;
  }
}

/* overwrites */
table.button {
  margin: 0 !important;
}
table.button.success table td {
  background: #81c935 !important;
  border: none !important;
}

table.body {
  background: #fff;
  margin: 65px auto !important;
}

@media only screen and (max-width: 596px) {
  table.body .container {
    width: 100% !important;
  }
}

table {border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; table-layout: fixed;}
table table { table-layout: auto; }
