{{#bg-img src=bgImgSrc classes="inner-bg" imgwidth=imgwidth imgheight=imgheight bgcolor="#fff"}}
<row>
    <columns small="12" large="12">
        <center>
            <spacer size="25"></spacer>
            <img class="small-float-center" style="vertical-align: top; display: inline-block; padding-right: 10px;" src="{{iconSrc}}" alt="" />
            <h4 style="text-transform: uppercase; vertical-align: middle; display: inline-block; margin: 0;" class="mid-heading small-text-center">
                {{headerText}}
            </h4>
            <spacer size="8"></spacer>
            <img src="assets/img/freemium-day-1/border-bottom-black.png" alt="">
            <spacer size="14"></spacer>
            <p style="max-width: 360px; margin: 0 auto; padding-left: 16px; padding-right: 16px;" class="thin-heading text-center">{{text}}</p>
        </center>
    </columns>
</row>
{{/bg-img}}