<center>
    <!--[if !mso]><\!-->
    <button class="success radius large" href="{{link-to}}">{{text}}</button>
    <!-- <![endif]-->

    <!--[if gte mso 9]>
    <row>
        <columns small="4"></columns>
        <columns small="4">
            <center>
                <a href="{{link-to}}" target="_blank" class="text-center">
                    <img src="{{src}}" alt="{{text}}">
                </a>
            </center>
        </columns>
        <columns small="4"></columns>
    </row>
    <![endif]-->

</center>