<row style="background: #fff; border-bottom-left-radius: 6px !important; border-bottom-right-radius: 6px !important;">
    <columns small="12" large="12">
        <center>
            <spacer size="20"></spacer>
            <p style="max-width: 536px;" class="small-light-paragraph float-center text-center">LottoGopher is an online community available to 18+ California residents that love to play the lottery. As a member, you can safely order lottery tickets for each jackpot. Your account can be easily managed online, and LottoGopher offers many features to make the lottery more fun with less hassle. We are your number one choice for ordering online lottery tickets. 256-BIT SSL Encryption.</p>
            <spacer size="5"></spacer>
            <p class="text-center" style="font-size: 10px; font-weight: 700; color: #4a4a4a; padding: 0 !important; margin: 0 !important;">AS SEEN ON:</p>
            <spacer size="5"></spacer>
            <img src="assets/img/common/as-seen-on.png" alt="As seen on tv image">
            <spacer size="10"></spacer>
            <p class="float-center text-center" style="font-size: 10px; vertical-align: middle !important; font-weight: 700; color: #4a4a4a; text-transform: uppercase; display: inline-block; padding: 5px !important;">
                <img style="display: inline-block; vertical-align: middle !important;" src="assets/img/common/lock.jpg" alt="lock icon" />
                100% Safe and Secure.
                <img style=" display: inline-block; padding: 0 !important; vertical-align: middle !important;" src="assets/img/common/security-icons.png" alt="Security Icons" />
            </p>
            <spacer size="10"></spacer>
            <p style="font-size: 14px !important;" class="lotto-footer-links text-center"><a href="https://lottogopher.desk.com/" target="_blank">Help</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:service@lottogopher.com">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://lottogopher.com/privacy-policy" target="_blank">Privacy</a></p>
            <menu>
                <item href="https://twitter.com/lottogopher">
                    <img src="assets/img/common/twitter.png" alt="Twitter Icon">
                </item>
                <item href="https://www.facebook.com/LottoGopher">
                    <img src="assets/img/common/facebook.png" alt="Facebook Icon">
                </item>
                <item href="https://www.instagram.com/lottogopher/">
                    <img src="assets/img/common/instagram.png" alt="Instagram Icon">
                </item>
                <item href="https://www.pinterest.com/lottogopher/">
                    <img src="assets/img/common/pinterest.png" alt="Pinterest Icon">
                </item>
                <item href="https://plus.google.com/+LottogopherCalifornia">
                    <img src="assets/img/common/google.png" alt="Google Icon">
                </item>
                <item href="https://www.youtube.com/user/LottoGopher">
                    <img src="assets/img/common/youtube.png" alt="Youtube Icon">
                </item>
            </menu>
            <spacer size="10"></spacer>
            <p class="copyright-text text-center">@2017 LottoGopher.com</p>
            <spacer size="10"></spacer>
            <p class="small-light-paragraph text-center" style="padding: 0 10px; max-width: 495px; margin: 0 auto;">You have received this email because you have signed up with LottoGopher as
                <a href="mailto:service@lottogopher.com">%%EMAIL%%</a>
                Toll Free Customer Service Hotline <a href="tel:+18665688646">866-LOTTO-GO</a> | <a href="#SPONECLICKOPTOUT" name="Bookmark" style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;color:#2796fd;font-family:Helvetica,Arial,sans-serif;font-weight:400;hyphens:none;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none" xt="SPONECLICKOPTOUT">Unsubscribe</a>
            </p>
            <spacer size="5"></spacer>
        </center>
    </columns>
</row>