<wrapper>
    <container class="lotto-footer">
        <row class="collapsed footer">
            <columns small="1" large="1"></columns>
            <columns small="10" large="10">
                <spacer size="20"></spacer>
                <p class="lotto-footer-links text-center"><a href="https://lottogopher.desk.com/" target="_blank">Help</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:service@lottogopher.com">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://lottogopher.com/privacy-policy" target="_blank">Privacy</a></p>
                <spacer size="10"></spacer>
                <center>
                    <menu>
                        <item>
                            <a href="https://twitter.com/lottogopher" target="_blank">
                                <img src="http://i.imgur.com/E9rqAO1.png" alt="Twitter Icon">
                            </a>
                        </item>
                        <item>
                            <a href="https://www.facebook.com/LottoGopher" target="_blank">
                                <img src="http://i.imgur.com/E8v9t5t.png" alt="Facebook Icon">
                            </a>
                        </item>
                        <item>
                            <a href="https://www.instagram.com/lottogopher/" target="_blank">
                                <img src="http://i.imgur.com/ik6DHyG.png" alt="Instagram Icon">
                            </a>
                        </item>
                        <item>
                            <a href="https://www.pinterest.com/lottogopher/" target="_blank">
                                <img src="http://i.imgur.com/2icFVmV.png" alt="Pinterest Icon">
                            </a>
                        </item>
                        <item>
                            <a href="https://plus.google.com/+LottogopherCalifornia" target="_blank">
                                <img src="http://i.imgur.com/m68WSHy.png" alt="Google Icon">
                            </a>
                        </item>
                        <item>
                            <a href="https://www.youtube.com/user/LottoGopher" target="_blank">
                                <img src="http://i.imgur.com/T0Lh7JG.png" alt="Youtube Icon">
                            </a>
                        </item>
                    </menu>
                </center>
                <spacer size="18"></spacer>
                <p class="lotto-footer-copyright text-center">@2017 LottoGopher.com</p>
                <spacer size="5"></spacer>
                <p class="lotto-footer-description text-center">You have received this email because you have signed up with LottoGopher as
                    <a href="mailto:service@lottogopher.com">%s@%s.com</a>
                    Toll Free Customer Service Hotline <a href="tel:+18665688646">866-LOTTO-GO</a> | <a href="#">Unsubscribe</a>
                </p>
                <spacer size="40"></spacer>
            </columns>
            <columns small="1" large="1"></columns>
        </row>
    </container>
</wrapper>