<container class="lotto-footer">
    <row class="collapsed footer">
        <columns>
            <p class="lotto-footer-links text-center"><a href="#">Help</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Privacy</a></p>
            <spacer size="10"></spacer>
            <center>
                <menu>
                    <item><img src="http://i.imgur.com/E9rqAO1.png" alt="Twitter Icon"></item>
                    <item><img src="http://i.imgur.com/E8v9t5t.png" alt="Facebook Icon"></item>
                    <item><img src="http://i.imgur.com/ik6DHyG.png" alt="Instagram Icon"></item>
                    <item><img src="http://i.imgur.com/2icFVmV.png" alt="Pinterest Icon"></item>
                    <item><img src="http://i.imgur.com/m68WSHy.png" alt="Google Icon"></item>
                    <item><img src="http://i.imgur.com/T0Lh7JG.png" alt="Youtube Icon"></item>
                </menu>
            </center>
            <spacer size="18"></spacer>
            <p class="lotto-footer-copyright text-center">@2017 LottoGopher.com</p>
            <spacer size="5"></spacer>
            <p class="lotto-footer-description text-center">You have received this email because you have signed up with LottoGopher as
                <a href="mailto:service@lottogopher.com">%s@%s.com</a><br />
                Toll Free Customer Service Hotline <a href="#">866-LOTTO-GO</a> | <a href="#">Unsubscribe</a>
            </p>
        </columns>
    </row>
</container>
