<wrapper>
    <container class="lotto-header">
        <row>
            <columns>
                <center>
                    <spacer size="40"></spacer>
                    <div style="width: 151px; display: inline-block; vertical-align: top; text-align:center;">
                    <a href="http://www.lottogopher.com" target="_blank">
                        <img style="display: block;" src="http://content.mail3.spopessentials3.com/ra/2017/27105/04/28745804/logo.png" alt="Lotto Logo Image">
                    </a>
                    </div>
                    <spacer size="28"></spacer>
                </center>
            </columns>
        </row>
    </container>
</wrapper>