<row>
    <columns class="hide-me-small" small="0" large="1"></columns>
    <columns small="12" large="10">
        <row>
            <columns small="12" large="12" style="border-bottom: 1px solid #ccc; border-left: 1px solid #eee; border-right: 1px solid #eee; border-radius: 6px; padding-top: 10px; padding-bottom: 5px;">
                <row>
                    <columns small="3" large="2" class="pad-left">
                        <spacer size="7"></spacer>
                        <a href="https://lottogopher.com/browse-groups" style="display: block;">
                            <img style="min-width: 50px !important; display: inline-block; vertical-align: middle;" src="http://content.mail3.spopessentials3.com/ra/2017/27105/04/28745471/group-icon.png" alt="group communication image">
                        </a>
                        <spacer size="5"></spacer>
                    </columns>
                    <columns small="9" large="9" class="pad-left-small">
                        <spacer class="show-for-large" size="12"></spacer>
                        <spacer class="hide-for-large" size="12"></spacer>
                        <a class="small-screen-font" href="https://lottogopher.com/browse-groups">Join groups and public lottery pools</a>
                        <p class="light-paragraph">Increase your odds of winning</p>
                        <spacer size="5"></spacer>
                    </columns>
                    <columns class="hide-me-smaller"  small="0" large="2" style="padding-top: 20px;">
                        <a style="display: block;" href="https://lottogopher.com/browse-groups"><img style="display: inline-block; vertical-align: bottom;" src="http://content.mail3.spopessentials3.com/ra/2017/27105/04/28745471/right-arrow.png" alt="right arrow image"></a>
                    </columns>
                </row>
            </columns>
        </row>
    </columns>
    <columns small="1" large="1"></columns>
</row>
<spacer size="25"></spacer>