<row style="border-bottom-left-radius: 6px !important; border-bottom-right-radius: 6px !important; margin-bottom: 100px !important;">
    <columns small="12" large="12">
        <center>
            <spacer size="25"></spacer>
            <p style="font-size: 14px !important;" class="lotto-footer-links text-center"><a href="https://lottogopher.desk.com/" target="_blank">Help</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:service@lottogopher.com">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://lottogopher.com/privacy-policy" target="_blank">Privacy</a></p>
            <menu>
                <item>
                    <a href="https://twitter.com/lottogopher" target="_blank">
                        <img src="assets/img/common/twitter.png" alt="Twitter Icon">
                    </a>
                </item>
                <item>
                    <a href="https://www.facebook.com/LottoGopher" target="_blank">
                        <img src="assets/img/common/facebook.png" alt="Facebook Icon">
                    </a>
                </item>
                <item>
                    <a href="https://www.instagram.com/lottogopher/" target="_blank">
                        <img src="assets/img/common/instagram.png" alt="Instagram Icon">
                    </a>
                </item>
                <item>
                    <a href="https://www.pinterest.com/lottogopher/" target="_blank">
                        <img src="assets/img/common/pinterest.png" alt="Pinterest Icon">
                    </a>
                </item>
                <item>
                    <a href="https://plus.google.com/+LottogopherCalifornia" target="_blank">
                        <img src="assets/img/common/google.png"  alt="Google Icon">
                    </a>
                </item>
                <item>
                    <a href="https://www.youtube.com/user/LottoGopher" target="_blank">
                        <img src="assets/img/common/youtube.png" alt="Youtube Icon">
                    </a>
                </item>
            </menu>
            <spacer size="10"></spacer>
            <p class="copyright-text text-center">@2017 Luckynumberpicker.com</p>
            <spacer size="10"></spacer>
            <p class="small-light-paragraph text-center" style="padding: 0 10px; max-width: 495px; margin: 0 auto;">You have received this email because you have signed up with LuckyNumberPicker as
                <a href="mailto:service@lottogopher.com">%%EMAIL%%</a>
                Toll Free Customer Service Hotline <a href="tel:+18665688646">866-LOTTO-GO</a> | <a href="#SPONECLICKOPTOUT" name="Bookmark" style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;color:#2796fd;font-family:Helvetica,Arial,sans-serif;font-weight:400;hyphens:none;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none" xt="SPONECLICKOPTOUT">Unsubscribe</a>
            </p>
            <spacer size="5"></spacer>
        </center>
    </columns>
</row>
