<wrapper>
    <container class="lotto-footer">
        <row class="collapsed footer">
            <columns small="1" large="1"></columns>
            <columns small="10" large="10" class="no-left-right-padding">
                <spacer size="24"></spacer>
                <p class="lotto-footer-description text-center">
                    LottoGopher is an online community available to 18+ California residents that love to play the lottery. As a member, you can safely order lottery tickets for each jackpot. Your account can be easily managed online, and LottoGopher offers many features to make the lottery more fun with less hassle. We are your number one choice for ordering online lottery tickets. 256-BIT SSL Encryption.
                </p>
                {{#if seenOnTv}}
                <center>
                    <spacer size="5"></spacer>
                    <p class="text-center" style="font-size: 10px; font-weight: 700; color: #4a4a4a; padding: 0 !important; margin: 0 !important;">AS SEEN ON:</p>
                    <img src="./images/as-seen-on.jpg" alt="As seen on tv image">
                    <spacer size="20"></spacer>
                </center>
                {{/if}}
                <row class="no-underline-link">
                    <columns small="12" large="12">
                        <center>
                            <row>
                                <columns class="text-right">
                                    <spacer size="8"></spacer>
                                    <p class="small-text-center float-right secure-paragraph">
                                        <img style="display: inline" src="./images/lock.jpg" alt="Lock Image" />
                                        &nbsp;&nbsp;100% SAFE AND SECURE
                                    </p>
                                </columns>
                                <columns>
                                    <img class="small-float-center float-left" src="./images/security-icons.jpg" alt="Security Icon Images" />
                                </columns>
                            </row>
                        </center>
                    </columns>
                </row>
                <spacer size="5"></spacer>
                <p class="lotto-footer-links text-center"><a href="https://lottogopher.desk.com/" target="_blank">Help</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:service@lottogopher.com">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://lottogopher.com/privacy-policy" target="_blank">Privacy</a></p>
                <spacer size="5"></spacer>
                <center>
                    <menu>
                        <item>
                            <a href="https://twitter.com/lottogopher" target="_blank">
                                <img src="http://content.mail3.spopessentials3.com/ra/2017/27105/04/28745804/twitter.png" alt="Twitter Icon">
                            </a>
                        </item>
                        <item>
                            <a href="https://www.facebook.com/LottoGopher" target="_blank">
                                <img src="http://content.mail3.spopessentials3.com/ra/2017/27105/04/28745804/facebook.png" alt="Facebook Icon">
                            </a>
                        </item>
                        <item>
                            <a href="https://www.instagram.com/lottogopher/" target="_blank">
                                <img src="http://content.mail3.spopessentials3.com/ra/2017/27105/04/28745804/instagram.png" alt="Instagram Icon">
                            </a>
                        </item>
                        <item>
                            <a href="https://www.pinterest.com/lottogopher/" target="_blank">
                                <img src="http://content.mail3.spopessentials3.com/ra/2017/27105/04/28745804/pinterest.png" alt="Pinterest Icon">
                            </a>
                        </item>
                        <item>
                            <a href="https://plus.google.com/+LottogopherCalifornia" target="_blank">
                                <img src="http://content.mail3.spopessentials3.com/ra/2017/27105/04/28745804/google.png" alt="Google Icon">
                            </a>
                        </item>
                        <item>
                            <a href="https://www.youtube.com/user/LottoGopher" target="_blank">
                                <img src="http://content.mail3.spopessentials3.com/ra/2017/27105/04/28745804/youtube.png" alt="Youtube Icon">
                            </a>
                        </item>
                    </menu>
                </center>
                <spacer size="10"></spacer>
                <p class="lotto-footer-copyright text-center">@2017 LottoGopher.com</p>
                <p class="lotto-footer-description text-center">You have received this email because you have signed up with LottoGopher as
                    <a href="mailto:service@lottogopher.com">%s@%s.com</a>
                    Toll Free Customer Service Hotline <a href="tel:+18665688646">866-LOTTO-GO</a> | <a href="#">Unsubscribe</a>
                </p>
                <spacer size="40"></spacer>
            </columns>
            <columns small="1" large="1"></columns>
        </row>
    </container>
</wrapper>
