<row>
    <columns small="12" large="6">
        <a href="{{link}}" target="_blank">
            <img class="small-float-center float-right" src="{{imgSrc}}" alt="{{text}}">
        </a>
    </columns>
    <columns small="12" large="6" style="padding-left: 15px !important;">
        <spacer size="32"></spacer>
        <p class="small-float-center" style="vertical-align: top; font-size: 16px; color: #333; font-weight: 300;">
               <span>
                   <img src="{{iconSrc}}" style="display: inline-block !important; padding-right: 3px; vertical-align: sub;" alt="">
               </span>
            {{text}}
        </p>
    </columns>
</row>