<container class="lotto-top-money-bg">
    <row>
        <!--[if !mso]><\!-->
        <columns class="show-for-large" small="1" large="1" style="padding: 0 !important;">
            <img style="width: 32px; height: 173px;" class="float-left" src="http://i.imgur.com/A7VZkAb.jpg" alt="left green money box image" />
        </columns>
        <!-- <![endif]-->
        <columns small="12" large="12">
            <img style="max-width: none !important; width: 100%;" class="float-left" src="{{topImage}}" alt="top money bg image">
            <spacer size="30"></spacer>
            {{#if subtitle}}
            <h2 class="lotto-border-left-right text-center">{{subtitle}}</h2>
            {{/if}}
            <h1 class="{{classForTitle}} lotto-border-left-right text-center">{{title}}</h1>
        </columns>
        <!--[if !mso]><\!-->
        <columns class="show-for-large" small="1" large="1" style="padding: 0 !important;">
            <img style="width: 31px; height: 173px;" src="http://i.imgur.com/Aw8XEv8.jpg" alt="left green money box image" />
        </columns>
        <!-- <![endif]-->
    </row>
</container>